In [6]:
import pandas as pd 
from config import *

In [7]:
raw_df = pd.read_csv(CFG.data_rootfolder / "ACCIDENT_LOCATION.csv")
df = raw_df
raw_df.head(20)

,ACCIDENT_NO,NODE_ID,ROAD_ROUTE_1,ROAD_NAME,ROAD_TYPE,ROAD_NAME_INT,ROAD_TYPE_INT,DISTANCE_LOCATION,DIRECTION_LOCATION,NEAREST_KM_POST,OFF_ROAD_LOCATION
0,T20060000010,43078,2090.0,FOSTER,STREET,MCCRAE,STREET,0.0,SW,NaN,NaN
1,T20060000018,29720,5057.0,HALLAM,ROAD,BELGRAVE-HALLAM,ROAD,70.0,S,NaN,NaN
2,T20060000022,203074,9999.0,BROWNS,ROAD,TRUEMANS,ROAD,210.0,W,NaN,NaN
3,T20060000023,55462,2400.0,SPRINGVALE,ROAD,KEYSBOROUGH,AVENUE,0.0,N,NaN,NaN
4,T20060000026,202988,9999.0,ELIZABETH,AVENUE,GREENHOOD,CRESCENT,20.0,N,NaN,NaN
5,T20060000028,277431,9999.0,BUNGOWER,ROAD,BUNGOWER ALT,ROAD,49.0,E,NaN,NaN
6,T20060000035,203045,5594.0,PRINCES,HIGHWAY,CROLE,DRIVE,99.0,W,NaN,NaN
7,T20060000042,203047,5765.0,CRANBOURNE,ROAD,KARINGAL,DRIVE,82.0,W,NaN,NaN
8,T20060000044,35621,2090.0,FRANKSTON-DANDENONG,ROAD,AMBERLEY,CRESCENT,0.0,S,NaN,NaN
9,T20060000046,205206,9999.0,STATION,STREET,BROUGHTON,STREET,26.0,E,NaN,NaN
10,T20060000047,203077,2050.0,CHELTENHAM,ROAD,CHELTENHAM FWD,ROAD SERVICE ROAD,1.0,W,NaN,NaN
11,T20060000050,43877,5765.0,CRANBOURNE-FRANKSTON ROAD -SLADEN,STREET,CHERRYHILLS,DRIVE,0.0,E,NaN,NaN
12,T20060000066,131090,5903.0,CRANBOURNE,ROAD,CENTRE,ROAD,57.0,N,NaN,NaN
13,T20060000094,205208,5916.0,MIRBOO NORTH-TRAFALGAR,ROAD,MT SPEED,ROAD,431.0,W,NaN,NaN
14,T20060000095,102361,2510.0,LONSDALE,STREET,LONSDALE,STREET,10.0,N,NaN,NaN
15,T20060000096,205194,9999.0,THE STRAND,NaN,CENTRAL PARK,AVENUE,37.0,E,NaN,NaN
16,T20060000105,1026,9999.0,OLD MOOROODUC,ROAD,VINEYARD,LANE,0.0,SW,NaN,NaN
17,T20060000111,10473,5970.0,HEATHERTON,ROAD,HEATHERTON-MONASH IN ON,RAMP,7.0,E,NaN,NaN
18,T20060000114,26114,2090.0,FRANKSTON-DANDENONG,ROAD,EXCELSIOR,DRIVE,93.0,SW,NaN,NaN
19,T20060000116,203244,2000.0,MONASH,FREEWAY,MONASH IN-SOUTH GIPPSLAND OUT OF,RAMP,144.0,E,NaN,NaN

In [8]:
df = df[["ACCIDENT_NO","ROAD_TYPE"]].set_index("ACCIDENT_NO",verify_integrity= "ACCIDENT_NO")
df

             ROAD_TYPE
ACCIDENT_NO
T20060000010    STREET
T20060000018      ROAD
T20060000022      ROAD
T20060000023      ROAD
T20060000026    AVENUE
...                ...
T20200019239    AVENUE
T20200019247      ROAD
T20200019250      ROAD
T20200019253   HIGHWAY
T20200019417      ROAD

[203708 rows x 1 columns]