In [1]:
import pandas as pd
from config import *

In [2]:
raw_df = pd.read_csv(CFG.data_rootfolder/"VEHICLE.csv")
df = raw_df
df.columns

/var/folders/lg/ssxqzhrj33g6tvlvnhwsmxxr0000gn/T/ipykernel_30585/642379686.py:1: DtypeWarning: Columns (3,25,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv(CFG.data_rootfolder/"VEHICLE.csv")

Index(['ACCIDENT_NO', 'VEHICLE_ID', 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'Road Surface Type Desc',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_POWER', 'VEHICLE_TYPE', 'Vehicle Type Desc', 'VEHICLE_WEIGHT',
       'CONSTRUCTION_TYPE', 'FUEL_TYPE', 'NO_OF_WHEELS', 'NO_OF_CYLINDERS',
       'SEATING_CAPACITY', 'TARE_WEIGHT', 'TOTAL_NO_OCCUPANTS',
       'CARRY_CAPACITY', 'CUBIC_CAPACITY', 'FINAL_DIRECTION', 'DRIVER_INTENT',
       'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'OWNER_POSTCODE', 'TOWED_AWAY_FLAG',
       'TRAFFIC_CONTROL', 'Traffic Control Desc'],
      dtype='object')

In [3]:
df = df[["ACCIDENT_NO","VEHICLE_ID", "Road Surface Type Desc","VEHICLE_BODY_STYLE", "VEHICLE_MAKE","VEHICLE_POWER","Vehicle Type Desc","TARE_WEIGHT","LEVEL_OF_DAMAGE"]]
df = df.set_index(["ACCIDENT_NO","VEHICLE_ID"], verify_integrity=True)

                        Road Surface Type Desc VEHICLE_BODY_STYLE  \
ACCIDENT_NO  VEHICLE_ID
T20060000010 A                           Paved             SEDAN
             B                           Paved             COUPE
             C                           Paved             SEDAN
T20060000018 A                           Paved             DC UTE
             B                           Paved             SEDAN
...                                        ...                ...
T20200019247 A                          Gravel             SEDAN
T20200019250 A                           Paved             SEDAN
             B                           Paved             SOLO
T20200019253 A                           Paved             SOLO
T20200019417 A                           Paved             WAGON

                        VEHICLE_MAKE  VEHICLE_POWER Vehicle Type Desc  \
ACCIDENT_NO  VEHICLE_ID
T20060000010 A                MITSUB            NaN               Car
             B                UNKN              NaN               Car
             C                FORD              NaN              Taxi
T20060000018 A                TOYOTA            NaN           Utility
             B                SUBARU            NaN               Car
...                              ...            ...               ...
T20200019247 A                VOLKS             NaN               Car
T20200019250 A                VOLKS             NaN               Car
             B                YAMAHA            NaN       Motor Cycle
T20200019253 A                K T M             NaN       Motor Cycle
T20200019417 A                SUBARU            NaN     Station Wagon

                         TARE_WEIGHT  LEVEL_OF_DAMAGE
ACCIDENT_NO  VEHICLE_ID
T20060000010 A                1100.0                3
             B                 974.0                3
             C                1550.0                2
T20060000018 A                1500.0                3
             B                1200.0                5
...                              ...              ...
T20200019247 A                1350.0                5
T20200019250 A                1355.0                1
             B                   0.0                1
T20200019253 A                   0.0                1
T20200019417 A                1440.0                5

[365242 rows x 7 columns]